<section id="about-me" class="section about-me">
  <h2 class="visually-hidden">About me</h2>
  <div class="container">
    <ul class="about-me-header">
      <li class="about-me-header-item">
        <p class="about-me-header-title">
          I work with people all over the world to create impressive and
          <span class="about-me-text-accent">functional </span>
          <span class="about-me-title-websites">websites </span> that reflect
          each client's unique personality.
        </p>
      </li>
      <li class="about-me-header-item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/about-me-desk.png    1x,
              ./images/about-me-desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="./images/about-me.png 1x, ./images/about-me@2x.png 2x"
          />
          <img
            class="about-me-header-img"
            src="./images/about-me.png"
            loading="lazy"
            alt="photo"
          />
        </picture>
      </li>
    </ul>
  </div>

  <div class="container about-me-info">
    <div class="about-me-accordion-container">
      <div class="ac about-me-info-item">
        <div class="ac-trigger">
          <ul class="about-me-info-header">
            <li class="about-me-info-title">ABOUT ME</li>
            <li class="about-me-info-btn">
              <svg class="about-me-nav-btn">
                <use href="./icons/icon-sprite.svg#icon-arrow-up"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="ac-panel about-me-info-text-list">
          <ul class="about-me-info-text-list">
            <li class="about-me-info-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages ​​and technologies, always ready
              to improve my skills. I always follow the latest trends and look
              for unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </li>
            <li class="about-me-info-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work.I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </li>
          </ul>
        </div>
      </div>
      <div class="ac about-me-info-item">
        <div class="ac-trigger">
          <ul class="about-me-info-header">
            <li class="about-me-info-title">ROLE</li>
            <li class="about-me-info-btn">
              <svg class="about-me-nav-btn">
                <use href="./icons/icon-sprite.svg#icon-arrow-down"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="ac-panel">
          <p class="ac-text about-me-info-text">Frontend development</p>
          <p class="ac-text about-me-info-text">HeadlessCMS,Wordpress</p>
          <p class="ac-text about-me-info-text">Blender(enjoy)</p>
        </div>
      </div>

      <div class="ac about-me-info-item">
        <div class="ac-trigger">
          <ul class="about-me-info-header">
            <li class="about-me-info-title">EDUCATION</li>
            <li class="about-me-info-btn">
              <svg class="about-me-nav-btn">
                <use href="./icons/icon-sprite.svg#icon-arrow-down"></use>
              </svg>
            </li>
          </ul>
        </div>

        <div class="ac-panel">
          <p class="ac-text about-me-info-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="ac-text about-me-info-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
          <p class="ac-text about-me-info-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="about-me-swiper-container">
      <div class="about-me-swiper">
        <ul class="swiper-wrapper about-me-swiper-wrapper">
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">HTML/CSS</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">JavaScript</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">React</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">Node.js</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">React Native</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">Soft skills</div>
          </li>
          <!-- loop -->
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">HTML/CSS</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">JavaScript</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">React</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">Node.js</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">React Native</div>
          </li>
          <li class="swiper-slide about-me-swiper-slide">
            <div class="about-me-slide">Soft skills</div>
          </li>
        </ul>
      </div>
      <svg class="about-me-slide-next-btn">
        <use href="./icons/icon-sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
