
<section class="covers section" id="animation"> 
<h3 class="covers__title">Covers title</h3>
 <div class="content container">
  <div class="marquee">
<ul class="marquee__inner"> 
        <li class="marquee-line"> 
          <img srcset="./images/cover-3.png  1x, 
                      ./images/cover-3@2x.png 2x" 
                      alt="people's artist" 
                      src="./images/cover-3.png" 
                      loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="./images/cover-1.png  1x, 
                      ./images/cover-1@2x.png 2x" 
                      alt="body transformation" 
                      src="./images/cover-1.png" 
                      loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
      </ul> 
      <ul class="marquee__inner"> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="" /> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="" /> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="" /> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="" /> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="" /> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="" /> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="" /> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading=""/> 
        </li> 
      </ul> 
      <ul class="marquee__inner"> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li>
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
      </ul> 
      <ul class="marquee__inner"> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
      </ul> 
      <ul class="marquee__inner"> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy"/> 
        </li> 
        <li class="marquee-line"> 
          <img srcset="" alt="" src="" loading="lazy" /> 
        </li> 
      </ul>
</div>
</div>  
</section>