<section class="covers section" id="animation">
  <h3 class="visually-hidden">Covers title</h3>
  <div class="content__covers container">
    <div class="marquee">
      <ul class="marquee__inner">
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-3.png 1x, ./images/cover-3@2x.png 2x"
            alt="people's artist"
            src="./images/cover-3.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-1.png 1x, ./images/cover-1@2x.png 2x"
            alt="body transformation"
            src="./images/cover-1.png"
            loading="lazy"
          />
        </li>

        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-6.png 1x, ./images/cover-6@2x.png 2x"
            alt="Brand"
            src="./images/cover-6.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-9.png 1x, ./images/cover-9@2x.png 2x"
            alt="English school"
            src="./images/cover-9.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-8.png 1x, ./images/cover-8@2x.png 2x"
            alt="Fresh"
            src="./images/cover-8.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-7.png 1x, ./images/cover-7@2x.png 2x"
            alt="Sport body"
            src="./images/cover-7.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-5.png 1x, ./images/cover-5@2x.png 2x"
            alt="finance"
            src="./images/cover-5.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-2.png 1x, ./images/cover-2@2x.png 2x"
            alt="mimino hotel"
            src="./images/cover-2.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-4.png 1x, ./images/cover-4@2x.png 2x"
            alt="vegetarianism"
            src="./images/cover-4.png"
            loading="lazy"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-6.png 1x, ./images/cover-6@2x.png 2x"
            alt="Brand"
            src="./images/cover-6.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-9.png 1x, ./images/cover-9@2x.png 2x"
            alt="English school"
            src="./images/cover-9.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-8.png 1x, ./images/cover-8@2x.png 2x"
            alt="Fresh"
            src="./images/cover-8.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-7.png 1x, ./images/cover-7@2x.png 2x"
            alt="Sport body"
            src="./images/cover-7.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-5.png 1x, ./images/cover-5@2x.png 2x"
            alt="finance"
            src="./images/cover-5.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-2.png 1x, ./images/cover-2@2x.png 2x"
            alt="mimino hotel"
            src="./images/cover-2.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-4.png 1x, ./images/cover-4@2x.png 2x"
            alt="vegetarianism"
            src="./images/cover-4.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-3.png 1x, ./images/cover-3@2x.png 2x"
            alt="people's artist"
            src="./images/cover-3.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-1.png 1x, ./images/cover-1@2x.png 2x"
            alt="body transformation"
            src="./images/cover-1.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-10.png 1x, ./images/cover-10@2x.png 2x"
            alt="business"
            src="./images/cover-10.png"
            loading="lazy"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-7.png 1x, ./images/cover-7@2x.png 2x"
            alt="Sport body"
            src="./images/cover-7.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-5.png 1x, ./images/cover-5@2x.png 2x"
            alt="finance"
            src="./images/cover-5.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-2.png 1x, ./images/cover-2@2x.png 2x"
            alt="mimino hotel"
            src="./images/cover-2.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-4.png 1x, ./images/cover-4@2x.png 2x"
            alt="vegetarianism"
            src="./images/cover-4.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-3.png 1x, ./images/cover-3@2x.png 2x"
            alt="people's artist"
            src="./images/cover-3.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-1.png 1x, ./images/cover-1@2x.png 2x"
            alt="body transformation"
            src="./images/cover-1.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-10.png 1x, ./images/cover-10@2x.png 2x"
            alt="business"
            src="./images/cover-10.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-6.png 1x, ./images/cover-6@2x.png 2x"
            alt="Brand"
            src="./images/cover-6.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-9.png 1x, ./images/cover-9@2x.png 2x"
            alt="English school"
            src="./images/cover-9.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-8.png 1x, ./images/cover-8@2x.png 2x"
            alt="Fresh"
            src="./images/cover-8.png"
            loading="lazy"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-3.png 1x, ./images/cover-3@2x.png 2x"
            alt="people's artist"
            src="./images/cover-3.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-1.png 1x, ./images/cover-1@2x.png 2x"
            alt="body transformation"
            src="./images/cover-1.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-10.png 1x, ./images/cover-10@2x.png 2x"
            alt="business"
            src="./images/cover-10.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-6.png 1x, ./images/cover-6@2x.png 2x"
            alt="Brand"
            src="./images/cover-6.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-9.png 1x, ./images/cover-9@2x.png 2x"
            alt="English school"
            src="./images/cover-9.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-8.png 1x, ./images/cover-8@2x.png 2x"
            alt="Fresh"
            src="./images/cover-8.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-7.png 1x, ./images/cover-7@2x.png 2x"
            alt="Sport body"
            src="./images/cover-7.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-5.png 1x, ./images/cover-5@2x.png 2x"
            alt="finance"
            src="./images/cover-5.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-2.png 1x, ./images/cover-2@2x.png 2x"
            alt="mimino hotel"
            src="./images/cover-2.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-4.png 1x, ./images/cover-4@2x.png 2x"
            alt="vegetarianism"
            src="./images/cover-4.png"
            loading="lazy"
          />
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-6.png 1x, ./images/cover-6@2x.png 2x"
            alt="Brand"
            src="./images/cover-6.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-9.png 1x, ./images/cover-9@2x.png 2x"
            alt="English school"
            src="./images/cover-9.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-8.png 1x, ./images/cover-8@2x.png 2x"
            alt="Fresh"
            src="./images/cover-8.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-7.png 1x, ./images/cover-7@2x.png 2x"
            alt="Sport body"
            src="./images/cover-7.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-5.png 1x, ./images/cover-5@2x.png 2x"
            alt="finance"
            src="./images/cover-5.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-2.png 1x, ./images/cover-2@2x.png 2x"
            alt="mimino hotel"
            src="./images/cover-2.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-4.png 1x, ./images/cover-4@2x.png 2x"
            alt="vegetarianism"
            src="./images/cover-4.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-3.png 1x, ./images/cover-3@2x.png 2x"
            alt="people's artist"
            src="./images/cover-3.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-1.png 1x, ./images/cover-1@2x.png 2x"
            alt="body transformation"
            src="./images/cover-1.png"
            loading="lazy"
          />
        </li>
        <li class=".marquee__line animate-covers">
          <img
            srcset="./images/cover-10.png 1x, ./images/cover-10@2x.png 2x"
            alt="business"
            src="./images/cover-10.png"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
