
<section class="covers section" id="animation"> 
 <div class="content container">
<h3 class="covers__title">Covers title</h3>
  <div class="marquee">
<ul class="marquee__inner">
<li class="marquee__line">
    <img 
     loading="lazy"
     src="./images/cover-1.png" 
    alt="body-transformation" 
    srcset="./images/cover-1.png 1x, ./images/cover-1@2x.png 2x" />
    
</li>
<li class="marquee__line">
    <img 
     loading="lazy"
     src="./images/cover-2.png" 
    alt="mimino-hotel" 
    srcset="./images/cover-2.png 1x, ./images/cover-2@2x.png 2x"/>
</li>
<li class="marquee__line">
    <img 
     loading="lazy"
     src="./images/cover-3.png" 
    alt="ukrainian-artists" 
    srcset="./images/cover-3.png 1x, ./images/cover-3@2x.png 2x"/>
</li>
</ul>
<ul class="marquee__inner">
<li class="marquee__line">
    <img 
     loading="lazy"
     src="./images/cover-4.png" 
    alt="vegetarianism" 
    srcset="./images/cover-4.png 1x, ./images/cover-4@2x.png 2x"/>
</li>
<li class="marquee__line">
    <img 
     loading="lazy"
     src="./images/cover-5.png" 
    alt="management-finance" 
    srcset="./images/cover-5.png 1x, ./images/cover-5@2x.png 2x"/>
</li>
<li class="marquee__line">
    <img  loading="lazy"
    src="./images/cover-6.png" 
    alt="brand" 
    srcset="./images/cover-6.png 1x, ./images/cover-6@2x.png 2x"/>
</li>
</ul>
<ul class="marquee__inner">
<li class="marquee__line">
    <img 
     loading="lazy"
     src="./images/cover-7.png" 
    alt="sport-body" 
    srcset="./images/cover-7.png 1x, ./images/cover-7@2x.png 2x"/></li>
<li class="marquee__line">
    <img 
     loading="lazy"
     src="./images/cover-8.png" 
    alt="fruits" 
    srcset="./images/cover-8.png 1x, ./images/cover-8@2x.png 2x"/>
</li>
<li class="marquee__line">
    <img 
     loading="lazy"
     src="./images/cover-9.png" 
    alt="learning-english" 
    srcset="./images/cover-9.png 1x, ./images/cover-9@2x.png 2x"/>
</li>
</ul>
<ul class="marquee__inner">
<li class="marquee__line">
    <img 
     loading="lazy"
     src="./images/cover-10.png" 
    alt="business" 
    srcset="./images/cover-10.png 1x, ./images/cover-10@2x.png 2x"/></li>
</ul>
</div>
</div>  
</section>