<section id="FAQ">
  <h3 class="faq-title">FAQ</h3>
  <ul class="accordion container">
    <!--1-->

    <li class="ac-item open hild-one">
      <div class="question-cont">
        <h3 class="ac-question">
          What programming languages ​are most often used in your project?
        </h3>

        <button type="button" class="ac-expand">
          <svg class="ac-arrow down" width="20" height="20">
            <use href="./icons/icon-sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
      </div>

      <div class="ac-panel">
        <div class="ac-tex-container">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>
    </li>
    <!-- 2 -->
    <li class="ac-item open hild-two">
      <div class="question-cont">
        <h3 class="ac-question">What are the deadlines for the project?</h3>

        <button type="button" class="ac-expand">
          <svg class="ac-arrow up" width="20" height="20">
            <use href="./icons/icon-sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </div>

      <div class="ac-panel">
        <div class="ac-tex-container">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </div>
    </li>
    <!--3-->
    <li class="ac-item open hild-three">
      <div class="question-cont">
        <h3 class="ac-question">What payment methods do you accept?</h3>

        <button type="button" class="ac-expand">
          <svg class="ac-arrow down" width="20" height="20">
            <use href=./icons/icon-sprite.svg#icon-arrow-down></use>
          </svg>
        </button>
      </div>

      <div class="ac-panel">
        <div class="ac-tex-container">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </div>
    </li>
    <svg
      class="line-vertical"
      xmlns="http://www.w3.org/2000/svg"
      width="2"
      height="584"
      viewBox="0 0 2 584"
      fill="none"
    >
      <path d="M1 584L1 9.56655e-06" stroke="#FAFAFA" stroke-opacity="0.2" />
    </svg>
    <!-- <div class="divider-vertical"></div> -->
    <!-- 4 -->
    <li class="ac-item open hild-four">
      <div class="question-cont">
        <h3 class="ac-question">How can I contact you?</h3>

        <button type="button" class="ac-expand">
          <svg class="ac-arrow up" width="20" height="20">
            <use href="./icons/icon-sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </div>
      <div class="ac-panel">
        <div class="ac-tex-container">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </div>
    </li>
    <!--5 -->
    <li class="ac-item open hild-five">
      <div class="question-cont">
        <h3 class="ac-question">Do you provide advice or support?</h3>

        <button type="button" class="ac-expand">
          <svg class="ac-arrow down" width="20" height="20">
            <use href=./icons/icon-sprite.svg#icon-arrow-down></use>
          </svg>
        </button>
      </div>
      <div class="ac-panel">
        <div class="ac-tex-container">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </div>
    </li>
    <!--6 -->
    <li class="ac-item open hild-six">
      <div class="question-cont">
        <h3 class="ac-question">
          What does the process of developing a software product look like from
          idea to implementation?
        </h3>
        <button type="button" class="ac-expand">
          <svg class="ac-arrow down" width="20" height="20">
            <use href="./icons/icon-sprite.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </div>

      <div class="ac-panel">
        <div class="ac-tex-container">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
