<header id="header" class="section header-cont container">
  <section class="header">
    <div class="logo-cont">
      <picture>
        <source srcset="./images/avatar.png 1x, ./images/avatar@2x.png 2x" />
        <img src="./images/avatar.png" alt="logo" loading="lazy" />
      </picture>
      <p class="text-logo">jefferson*</p>
    </div>
    <div class="header-menu">
      <button type="button" class="open-menu-btn">Menu</button>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="#about-me" class="header-menu-item-link">About me</a>
        </li>
        <li class="header-menu-item">
          <a href="#benefits" class="header-menu-item-link">Benefits</a>
        </li>
        <li class="header-menu-item">
          <a href="#projects" class="header-menu-item-link">Projects</a>
        </li>
        <li class="header-menu-item">
          <a href="#faq" class="header-menu-item-link">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="open-modal-cont">
      <button type="button" class="open-modal-btn">
        <svg class="open-btn-icon">
          <use href="./icons/icon-sprite.svg#icon-open-menu"></use>
        </svg>
      </button>
    </div>
    <div class="order-btn-cont">
      <a href="#work-together" class="order-btn">Order the project</a>
    </div>
  </section>
</header>

<!-- Modal window -->

<div class="modal-window-cont">
  <div class="modal-window">
    <div class="close-icon-cont">
      <button type="button" class="close-modal-btn">
        <svg class="close-modal-btn-icon">
          <use href="./icons/icon-sprite.svg#icon-close-menu"></use>
        </svg>
      </button>
    </div>
    <ul class="modal-list">
      <li class="modal-item">
        <a href="#about-me" class="modal-item-link">About me</a>
      </li>
      <li class="modal-item">
        <a href="#benefits" class="modal-item-link">Benefits</a>
      </li>
      <li class="modal-item">
        <a href="#projects" class="modal-item-link">Projects</a>
      </li>
      <li class="modal-item">
        <a href="#faq" class="modal-item-link">FAQ</a>
      </li>
    </ul>
    <a href="#work-together" class="menu-order-btn">Order the project</a>
  </div>
</div>
