<section class="hero section">
  <div class="hero-container container">
    <h1 class="hero-title">
      Hello.<br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
  </div>
  <div class="hero-socials container">
    <ul class="socials-list">
      <li class="item">
        <a
          class="hero-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >IG</a
        >
      </li>
      <li class="item">
        <a
          class="hero-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >FB</a
        >
      </li>
      <li class="item">
        <a
          class="hero-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="item">
        <a
          class="hero-link"
          href="https://github.com/MaksymMykhailets/portfolio"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="item">
        <a class="hero-link" href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
