<section id="projects" class="projects section">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide projects-item">
          <div class="desc-container">
            <ul class="tech-list">
              <li class="item-tech">#react</li>
              <li class="item-tech">#js</li>
              <li class="item-tech">#node js</li>
              <li class="item-tech">#git</li>
            </ul>
            <h3 class="project-dscr">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/MaksymMykhailets/portfolio"
              class="project-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="img-container">
            <picture>
              <!-- Desktop and tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/project-1-desk.png    1x,
                  ./images/project-1-desk@2x.png 2x
                "
                width="614"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="./images/project-1.png 1x, ./images/project-1@2x.png 2x"
              />
              <img
                class="project-picture"
                src="./images/project-1.png"
                alt="reading-app"
                width="311"
                loading="lazy"
              />
            </picture>
          </div>
        </li>

        <li class="swiper-slide projects-item">
          <div class="desc-container">
            <ul class="tech-list">
              <li class="item-tech">#react</li>
              <li class="item-tech">#js</li>
              <li class="item-tech">#node js</li>
              <li class="item-tech">#git</li>
            </ul>
            <h3 class="project-dscr">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              href="https://github.com/MaksymMykhailets/portfolio"
              class="project-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="img-container">
            <picture>
              <!-- Desktop and tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/project-2-desk.png    1x,
                  ./images/project-2-desk@2x.png 2x
                "
                width="614"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="./images/project-2.png 1x, ./images/project-2@2x.png 2x"
              />
              <img
                class="project-picture"
                src="./images/project-2.png"
                alt="pet-app"
                width="311"
                loading="lazy"
              />
            </picture>
          </div>
        </li>

        <li class="swiper-slide projects-item">
          <div class="desc-container">
            <ul class="tech-list">
              <li class="item-tech">#react</li>
              <li class="item-tech">#js</li>
              <li class="item-tech">#node js</li>
              <li class="item-tech">#git</li>
            </ul>
            <h3 class="project-dscr">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <a
              href="https://github.com/MaksymMykhailets/portfolio"
              class="project-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="img-container">
            <picture>
              <!-- Desktop and tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/project-3-desk.png    1x,
                  ./images/project-3-desk@2x.png 2x
                "
                width="614"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="./images/project-3.png 1x, ./images/project-3@2x.png 2x"
              />
              <img
                class="project-picture"
                src="./images/project-3.png"
                alt="vocab-app"
                width="311"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="btn-container">
        <div class="swiper-button-prev swiper-button-prev-style">
          <svg class="swiper-icon">
            <use href="./icons/icon-sprite.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-button-next swiper-button-next-style">
          <svg class="swiper-icon">
            <use href="./icons/icon-sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
