<section class="section">
  <div class="container">
    <h2 class="title_reviews">REVIEWS</h2>

    <h3 class="visually-hidden placeholder_text">Not found</h3>
    <div class="swiper swiper_js">
      <div class="swiper-wrapper swiper_reviews"></div>
      <div class="buttons_reviews">
        <button type="button" class="start btn_reviews">
          <svg class="reviews_icon reviews_icon_start" width="24" height="24">
            <use href="./icons/icon-sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="end btn_reviews">
          <svg class="reviews_icon reviews_icon_end" width="24" height="24">
            <use href="./icons/icon-sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
