<section class="section  container_reviews">
    <div class="container">
    <h2 class="title_reviews">REVIEWS</h2>
    <ul class="reviews_cards ">
        <div class="reviews_swiper">
            <div class="reviews_swiper_wrapper">

            </div>
            <div class="buttons_reviews">
            <button type="button" class="swiper_prev_el btn_reviews"> 
            <svg clas="btn_icon" width="24" height="24" style="stroke: #fafafa">
                <use href="../icons/icon-sprite.svg#icon-arrow-left"></use>
            </svg>
            </button>
            <button type="button" class="swiper_next_el btn_reviews"> 
                 <svg clas="btn_icon" width="24" height="24" style="stroke: #fafafa">
                    <use href="../icons/icon-sprite.svg#icon-arrow-right"></use>
                </svg> 
            </button>
            </div>
        </div>
    </ul>
    </div>

</section>