.about-me {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
}
@media only screen and (min-width: 1440px) {
  .about-me {
    margin-top: 96px;
  }
}
.about-me-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-me-header-item {
  width: 343px;
  height: 500px;
  border-radius: 24px;
  background: #242527;
}

.about-me-header-title {
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;

  color: #fafafa;

  font-size: 24px;

  line-height: 116.6%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.about-me-text-accent {
  color: #ed3b44;
}
@media only screen and (min-width: 768px) {
  .about-me {
    gap: 64px;
  }
  .about-me-header-item {
    width: 704px;
    height: 700px;
  }
  .about-me-header-title {
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .about-me-header-title {
    font-size: 38px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-me {
    gap: 96px;
  }
  .about-me-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .about-me-header-item {
    width: 680px;
    height: 700px;
  }
}

.about-me-title-websites {
  color: rgba(250, 250, 250, 0.4);
}

@media only screen and (min-width: 768px) {
  .about-me-title {
    font-size: 38px;
  }
  .about-me-header-img {
    width: 704px;
    height: 700px;
  }
}

.about-me-accordion-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-me-info-item {
  padding-bottom: 32px;
  border-bottom: 1px solid #3b3b3b;
}
.about-me-info-item:last-child {
  margin-bottom: 8px;
}

.about-me-info-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.about-me-info-title {
  color: rgba(250, 250, 250, 0.4);

  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  cursor: pointer;
}
.about-me-info-btn {
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);

  width: 42px;
  height: 42px;
  cursor: pointer;
}

/* ac-panel ------------------------------------------*/
.about-me-info-text-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-me-info-text {
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;

  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
}

@media only screen and (min-width: 1440px) {
  .about-me-info {
    width: 1440px;
  }

  .about-me-info-text {
    width: 612px;
    margin-left: 696px;
  }
}
.about-me-skills-swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 343px;
}
.about-me-skills {
  display: flex;
  overflow: hidden;
  width: 260px;
}
.about-me-skill {
  width: 130px;
  height: 130px;

  display: flex;
  flex-shrink: 0;

  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);

  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2);
  justify-content: center;
  align-items: center;

  color: #fafafa;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.skill-accent {
  background-color: #ed3b44;
}

.about-me-nav-btn,
.about-me-skill-next {
  width: 42px;
  height: 42px;
  fill: none;
  cursor: pointer;
  stroke: #fafafa;
}
.about-me-skill-next {
  stroke: #3b3b3b;
}

@media only screen and (min-width: 768px) {
  .about-me-skills-swiper {
    width: 704px;
  }
  .about-me-skills {
    width: 600px;
  }
  .about-me-skill {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-skills-swiper {
    width: 1312px;
  }
  .about-me-skills {
    width: 1200px;
  }
}

/*swiper*/
.about-me-swiper-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  min-width: 0;
  width: 343px;
}

.about-me-swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 260px;
  min-width: 0;
}
.about-me-swiper-wrapper {
  display: flex;
  min-width: 0;
  width: 260px;
}
.about-me-slide {
  width: 130px;
  height: 130px;
  display: flex;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2);
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}
.swiper-slide-active > .about-me-slide {
  background-color: #ed3b44;
}
.about-me-slide-next-btn {
  width: 28px;
  height: 28px;
  fill: none;
  cursor: pointer;
  stroke: #3b3b3b;
}
@media only screen and (min-width: 768px) {
  .about-me-swiper-container {
    width: 704px;
  }
  .about-me-swiper {
    width: 600px;
  }

  .about-me-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
  .about-me-slide-next-btn {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-me-swiper-container {
    width: 1312px;
  }
  .about-me-swiper {
    width: 1200px;
  }
}
