.covers__title {
    display: none;
}
.content {
    position: relative;
     height: 508px;
    overflow: hidden;

    background-image: url('path/to/your/image.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}

.marquee {
   position: absolute;
   right: -1325px;
   left: -100px;
   top: 65px;
}

.marquee__inner {
    height: auto;
    display: flex;
    transform: rotate(16deg);
    gap: 17px;
}

.marquee__line {
   width: 282px;
   height: 168px;
   margin-top: 40px;
    
}

 
 

.animate-covers {
    animation-name: marqueeLine;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
}

@keyframes marqueeLine {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(-180%);
    }
}

/* Media Queries */

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 374.98px) {
    .covers {
        padding-top: 64px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .covers {
        padding-top: 49px;
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
    .covers {
        padding-top: 81px;
    }
}

