.covers__title {
    display: none;
}
.content__covers {
    position: relative;
     height: 508px;
    overflow: hidden;

    /*background-image: url('path/to/your/image.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;   Для background-image: */ 
}

.marquee {
   position: absolute;
   right: -1325px;
   left: -100px;
   top: 65px;
}

.marquee__inner {
    height: auto;
    display: flex;
    transform: rotate(16deg);
    gap: 17px;
    margin-bottom: 20px; /* Спитати чи правильно, конфлік з 
    
    ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }*/
}

.marquee__line {
   width: 282px;
   height: 168px;
   margin-top: 40px;
    flex-shrink: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

 
 

/*.animate-covers {
    animation-name: marqueeLine;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
}

@keyframes marqueeLine {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(-180%);
    }
}*/


.circular-animation {
    animation-name: rotateImages;
    animation-duration: 10s;
    /* Тривалість анімації */
    animation-timing-function: linear;
    /* Функція вимірювання анімації */
    animation-iteration-count: infinite;
    /* Безкінечна анімація */
}

@keyframes rotateImages {
    from {
        transform: rotate(0deg);
        /* Початковий кут обертання */
    }

    to {
        transform: rotate(360deg);
        /* Кінцевий кут обертання (повний оборот) */
    }
}

 /*Media queries*/

 