.content__covers {
    position: relative;
     height: 508px;
    overflow: hidden;
     background-image: url('../images/blur.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 100%;
}

.marquee {
   position: absolute;
   right: -1325px;
   left: -100px;
   top: 65px;
}

.marquee__inner {
    height: auto;
    display: flex;
    transform: rotate(16deg);
    gap: 17px;
    margin-bottom: 20px; /* Спитати чи правильно, конфлік з 
    
    ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }*/
}

.marquee__line {
   width: 282px;
   height: 168px;
   margin-top: 40px;
    flex-shrink: 0;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

 
 .animate-covers {
    animation-name: marqueeLine;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
}

@keyframes marqueeLine {
    from {
        transform: translateX(-20%);
    }

    to {
        transform: translateX(-180%);
    }
}
  
 /*Media queries*/

 @media screen and (min-resolution: 192dpi) and (max-width: 767px),
 screen and (min-resolution: 2dppx) and (max-width: 767px),
 screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .content__covers {
        background-image: url(../images/blur@2x.png);
    }
 }

 

 