.header-cont {
  position: absolute;
  padding-top: 32px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.header {
  margin: 0 auto;
  display: flex;
  max-width: 375px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
  }
}
.logo-cont {
  display: flex;
  gap: 8px;
}
.header-menu {
  flex-grow: 1;
  display: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.open-menu-btn {
  background: none;
  border: none;
  color: #fff;
  padding: 10px;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}
.open-menu-btn::after {
  display: block;
  left: 0;
  content: '';
  height: 2px;
  border-bottom: 1px solid #ed3b44;
  width: 100%;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
.open-menu-btn:hover::after {
  transform: scale(1);
}
.open-menu-btn:hover {
  color: #ed3b44;
}
@media only screen and (min-width: 768px) {
  .open-modal-btn {
    display: none;
  }
}
.open-modal-btn,
.close-modal-btn {
  background: none;
  border: none;
}
.open-btn-icon,
.close-modal-btn-icon {
  stroke: #fff;
  width: 28px;
  height: 28px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out, stroke 0.3s ease-in-out;
}
.open-btn-icon:hover,
.close-modal-btn-icon:hover {
  stroke: #e0373f;
  transform: scale(1.2);
}
.header-menu-list {
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(-200%);
}
.header-menu-list.slide {
  opacity: 1;
  transform: translateY(0%);
}
.header-menu-item {
  gap: 5px;
}
.header-menu-item-link {
  position: relative;
  transition: color 0.3s ease-in-out;
}
.header-menu-item-link:hover {
  color: #ed3b44;
}
.order-btn-cont {
  display: none;
}
.order-btn {
  height: 55px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 18px 24px;
  gap: 10px;
  background: #ed3b44;
  color: #fff;
  border-radius: 60px;
  border: none;
}
@media only screen and (min-width: 768px) {
  .order-btn-cont {
    display: inline-flex;
  }
  .order-btn {
    display: inline-flex;
  }
}

/* Modal window */

.modal-window-cont {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, opacity 0.7s ease-in-out,
    visibility 0.7s ease-in-out;
  background-image: url(../images/webp/bg-hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.modal-window-cont.is-open {
  position: fixed;
  z-index: 10;
  transform: translateX(-0%);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition: transform 0.5s ease-in-out, opacity 0.7s ease-in-out,
    visibility 0.7s ease-in-out;
}
.modal-window {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
@media only screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .modal-window-cont {
    background-image: url(../images/webp/bg-hero@2x.webp);
  }
}
@media only screen and (min-width: 768px) {
  .modal-window-cont {
    background-image: url(../images/webp/bg-hero-tab.webp);
  }
}

.close-icon-cont {
  display: flex;
  justify-content: end;
  padding: 32px 16px 0 0;
}
.modal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.modal-item-link {
  position: relative;
  transition: color 0.5s ease-in-out;
}
.modal-item-link::after {
  display: block;
  left: 0;
  content: '';
  height: 2px;
  border-bottom: 1px solid #ed3b44;
  width: 100%;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
.modal-item-link:hover {
  color: #ed3b44;
}
.modal-item-link:hover::after {
  transform: scale(1);
}
.menu-order-btn,
.order-btn {
  margin: 0 auto 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 31px;
  gap: 10px;
  background: #ed3b44;
  color: #fff;
  border-radius: 60px;
  border: none;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}
.menu-order-btn:hover,
.order-btn:hover {
  transform: scale(1.05);
  background: #e0373f;
}
