.hero {
  padding-top: 169px;
  padding-bottom: 32px;
  background-size: cover;
  background-image: url(../images/bg-hero.png);
}

@media only screen and (max-width: 767.98px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../images/bg-hero@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 188px;
    background-image: url(../images/bg-hero-tab.png);
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../images/bg-hero-tab@2x.png);
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    background-image: url(../images/bg-hero-desk.png);
  }
}
@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../images/bg-hero-desk@2x.png);
  }
}
.hero-container {
  margin-bottom: 212px;
}
@media only screen and (min-width: 768px) {
  .hero-container {
    margin-bottom: 187px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-container {
    margin-bottom: 243px;
  }
}
.hero-title {
  max-width: 343px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 632px;
    font-size: 90px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-title {
    max-width: 1084px;
    margin: 0 auto;
  }
}

.hero-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
@media only screen and (min-width: 768px) {
  .socials-list {
    margin-left: auto;
    gap: 8px;
  }
}

.item {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: all 0.3s ease;

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.02em;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 768px) {
  .item {
    width: 55px;
    height: 55px;
    font-size: 16px;
  }
}

.item:hover,
.item:focus {
  transform: scale(1.1);
  background-color: #fafafa;
  border-color: #ed3b44;
  color: #ed3b44;
}

.item:last-child {
  width: 178px;
  padding: 10px 12px;
}
@media only screen and (min-width: 768px) {
  .item:last-child {
    width: 225px;
    padding: 18px 24px;
  }
}

.item:last-child:hover,
.item:last-child:focus {
  transform: scale(1.05);
}
