html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight';
  background-color: #1c1d20;
  color: #fafafa;
}

.section {
  padding-bottom: 64px;
}
@media only screen and (min-width: 768px) {
  .section {
    padding-bottom: 96px;
  }
}
@media only screen and (min-width: 1440px) {
  .section {
    padding-bottom: 164px;
  }
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
