.title_reviews {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.title_not_found {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.card {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: auto;
  height: 340px;
}

.card_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.card_text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.card_img {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}

.buttons_reviews {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.btn_reviews {
  background-color: #1c1d20;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .btn_reviews {
    width: 68px;
    height: 68px;
  }
}

.btn_reviews:disabled {
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: rgba(250, 250, 250, 0.2);
}

.btn_reviews:disabled .reviews_icon {
  stroke: rgba(250, 250, 250, 0.2);
}

.reviews_icon {
  stroke: #fafafa;
}

.swiper_js {
  overflow: hidden;
}
